<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<script 
		src="https://code.jquery.com/jquery-3.1.1.js"
		integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
		crossorigin="anonymous"></script>

	<link href={{ asset ("bundles/css/animations.css") }} rel="stylesheet" >
	<link href="{{ asset('bundles/css/materialize.css') }}" rel="stylesheet" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ asset('bundles/css/error.css') }}" rel="stylesheet" media="screen,projection">
	<link rel="shortcut icon" href="{{ asset('bundles/favicon.ico') }}" type="image/x-icon">
   <link rel="icon" href="{{ asset('bundles/favicon.ico') }}" type="image/x-icon">
</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
    	<a id="logo-container" href="/panell" class="center brand-logo">
    		<img src="{{ asset('bundles/img/trivial-icon.png') }}" alt="">
    	</a>
	</nav>
	
	
	<div class="body-content">
		<h1>Error 404 page not found</h1>
	</div>
	
	
	
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="{{ asset('bundles/js/materialize.js') }}"></script>
  	<script src="{{ asset('bundles/js/init.js') }}"></script>
  	<script src="{{ asset('bundles/js/index.js') }}"></script>
  	<script>
  		window.setTimeout(function(){ window.location = "/login"; },3000);
  	</script>
</body>
</html>