{# app/Resources/views/panell.html.twig #}
{# COLORS de materializecss #}
{# 'm', Marró, 	#A86C38 #}
{# 'b', Blau, 		#5FBFCD #}
{# 't', Taronja, 	#F17B35 #}
{# 'g', Groc, 		#EFDB3A #}
{# 'r', Rosa, 		#FD85B3 #}
{# 'v', Verd, 		#4DAB53 #}

{% extends 'panell.html.twig' %}
{% block body %}

<div class="container">
	<div class="row games-list">

		<h3 class="flow-text"> Games List </h3>
		
		<div class="offset-s1 col s10 offset-m1 col m10 offset-l1 col l10 offset-xl2 col xl8">
			
			<table class="striped centered bordered">
			
				<tr>
					<th>Num players</th>
					<th>Points P1</th>
					<th>Points P2</th>
					<th>Points P3</th>
					<th>Points P4</th>
					<th>Points P5</th>
					<th>Points P6</th>
					<th>Time left</th>
					<th>Terminated</th>
					<th>Continue</th>
					<th>Delete</th>
				</tr>
				
				{% for game in games %}
					<tr>
					
						<td>{{ game.numplayers }}</td>
						
						<td>
							{% if 'm' in game.pointsp1 %}<span style="background-color:#A86C38;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'b' in game.pointsp1 %}<span style="background-color:#5FBFCD;">&nbsp;&nbsp;</span>{% endif %}
							{% if 't' in game.pointsp1 %}<span style="background-color:#F17B35;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'g' in game.pointsp1 %}<span style="background-color:#EFDB3A;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'r' in game.pointsp1 %}<span style="background-color:#FD85B3;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'v' in game.pointsp1 %}<span style="background-color:#4DAB53;">&nbsp;&nbsp;</span>{% endif %}
						</td>
						
						<td>
							{% if 'm' in game.pointsp2 %}<span style="background-color:#A86C38;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'b' in game.pointsp2 %}<span style="background-color:#5FBFCD;">&nbsp;&nbsp;</span>{% endif %}
							{% if 't' in game.pointsp2 %}<span style="background-color:#F17B35;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'g' in game.pointsp2 %}<span style="background-color:#EFDB3A;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'r' in game.pointsp2 %}<span style="background-color:#FD85B3;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'v' in game.pointsp2 %}<span style="background-color:#4DAB53;">&nbsp;&nbsp;</span>{% endif %}
						</td>
					
						<td>
							{% if 'm' in game.pointsp3 %}<span style="background-color:#A86C38;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'b' in game.pointsp3 %}<span style="background-color:#5FBFCD;">&nbsp;&nbsp;</span>{% endif %}
							{% if 't' in game.pointsp3 %}<span style="background-color:#F17B35;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'g' in game.pointsp3 %}<span style="background-color:#EFDB3A;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'r' in game.pointsp3 %}<span style="background-color:#FD85B3;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'v' in game.pointsp3 %}<span style="background-color:#4DAB53;">&nbsp;&nbsp;</span>{% endif %}
						</td>
				
						<td>
							{% if 'm' in game.pointsp4 %}<span style="background-color:#A86C38;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'b' in game.pointsp4 %}<span style="background-color:#5FBFCD;">&nbsp;&nbsp;</span>{% endif %}
							{% if 't' in game.pointsp4 %}<span style="background-color:#F17B35;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'g' in game.pointsp4 %}<span style="background-color:#EFDB3A;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'r' in game.pointsp4 %}<span style="background-color:#FD85B3;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'v' in game.pointsp4 %}<span style="background-color:#4DAB53;">&nbsp;&nbsp;</span>{% endif %}
						</td>

						<td>
							{% if 'm' in game.pointsp5 %}<span style="background-color:#A86C38;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'b' in game.pointsp5 %}<span style="background-color:#5FBFCD;">&nbsp;&nbsp;</span>{% endif %}
							{% if 't' in game.pointsp5 %}<span style="background-color:#F17B35;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'g' in game.pointsp5 %}<span style="background-color:#EFDB3A;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'r' in game.pointsp5 %}<span style="background-color:#FD85B3;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'v' in game.pointsp5 %}<span style="background-color:#4DAB53;">&nbsp;&nbsp;</span>{% endif %}
						</td>

						<td>
							{% if 'm' in game.pointsp6 %}<span style="background-color:#A86C38;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'b' in game.pointsp6 %}<span style="background-color:#5FBFCD;">&nbsp;&nbsp;</span>{% endif %}
							{% if 't' in game.pointsp6 %}<span style="background-color:#F17B35;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'g' in game.pointsp6 %}<span style="background-color:#EFDB3A;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'r' in game.pointsp6 %}<span style="background-color:#FD85B3;">&nbsp;&nbsp;</span>{% endif %}
							{% if 'v' in game.pointsp6 %}<span style="background-color:#4DAB53;">&nbsp;&nbsp;</span>{% endif %}
						</td>
						
						<!--<td>{{ game.timeHours }}:{{ game.timeMinutes }}</td>-->
						<td>
							{% if game.timeHours <= 9 %}
								0{{ game.timeHours }}
							{% else %}
								{{ game.timeHours }}
							{% endif %}
							:
							{% if game.timeMinutes <= 9 %}
								0{{ game.timeMinutes }}
							{% else %}
								{{ game.timeMinutes }}
							{% endif %}
						
						<td>
							{% if game.terminated %}
								<i class="material-icons prefix" style="color:green">done</i> 
							{% else %}
								<i class="material-icons prefix" style="color:lightred">pause</i>
							{% endif %}
						</td> 
						
						<td>
							{% if game.terminated %}
								<i class="material-icons prefix" style="color:grey">not_interested</i> 
							{% else %}
								<form method="POST" action="/continue">
									<i class="material-icons prefix" style="color:blue">play_arrow
										<input type="submit" value="submit" name="continue" hidden="true">
									</i>
								</form>
							{% endif %}
						</td>
						
						<td>
							<form method="POST" action="/deletegame">
								<input type="number" name="id" hidden="true" value="{{ game.id }}">
								<input type="number" name="iduser" hidden="true" value="{{ game.iduser }}"> 
								<i class="material-icons prefix" style="color:red">delete
									<input type="submit" value="submit" name="deletegame" hidden="true">
								</i>
							</form>
						</td>
						
					</tr>
				{% endfor %}
		
			</table>
					
		</div>
	</div>
</div>
{% endblock %}
