<!DOCTYPE html>
<head>
	<meta charset="UTF-8" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ asset('bundles/css/materialize.css') }}" rel="stylesheet" media="screen,projection">
	<link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet" media="screen,projection">
	<link rel="shortcut icon" href="{{ asset('bundles/favicon.ico') }}" type="image/x-icon">
   <link rel="icon" href="{{ asset('bundles/favicon.ico') }}" type="image/x-icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    
    	<a id="logo-container" href="/panell" class="center brand-logo">
    		<img src="{{ asset('bundles/img/trivial-icon.png') }}" alt="">
    	</a>

      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      	<ul class="right">
         	<li><a class="waves-effect waves-teal waves-light btn" href="{{ path('fos_user_security_logout') }}">
	         	{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
         	</a></li>
         </ul>
      {% else %}
      	<ul class="right">
      		<li><a id="btnLogin"
      				 class="waves-effect waves-teal waves-light btn">LOGIN</a>
      		</li>
      	</ul>
		{% endif %}

    </div>
  </nav>
	<!-- Estàs a panell.html.twig -->

	<div class="body-content">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% block body %}
				<h3 id="message" class="message" >{{ message }}</h3>

			{% endblock %}
		
		<div id="creategame" name="creategame" class="my-modal">
	 		<div class="row">    
    			<form class="offset-s2 col s8" action="/creategame" method="post">
		
      			<div class="creategame-content">
	        	
	        			<div class="input-field col s12">
          				<i class="fa fa-users material-icons prefix" aria-hidden="true"></i>
          				<input id="numplayers" type="number" name="numplayers" class="validate active" required="required"  min="1" max="6" value="1">
	          			<label for="numplayers">Num players</label>
        				</div>
		        		
        				<div class="input-field col s12">
        					<i class="material-icons prefix">av_timer</i>
          				<input id="time" name="time" type="time" class="validate" required="required" min="00:30" max="99:60" value="00:30">
        				</div>
		        		
        				<br>
		        		
	        			<div class="input offset-s2 col s8 extra-padding">
	        				<a class="btn-large waves-effect waves-light creategamebtn"	name="creategamebtn">Create</a>
        				</div>
		
					</div>
    			</form>
    		</div>
    	</div>
		{% endif %}
		<a id="showcreatergamebtn" class="waves-effect waves-teal waves-light btn">Create new Game</a>
		<a href="/panell" class="waves-effect waves-teal waves-light btn returnbtn">Return to My Games List</a>
		<a href="/tauler" class="waves-effect waves-teal waves-light btn startgame">Start Game</a>
		
	</div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ asset('bundles/js/materialize.js') }}"></script>
  <script src="{{ asset('bundles/js/init.js') }}"></script>
  <script src="{{ asset('bundles/js/index.js') }}"></script>
  <script src="{{ asset('bundles/js/panell.js') }}"></script>
</body>
</html>