<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<script 
		src="https://code.jquery.com/jquery-3.1.1.js"
		integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
		crossorigin="anonymous"></script>
	<script src={{ asset("bundles/js/tablerojs.js") }}></script>

	<link rel="stylesheet" href={{ asset ("bundles/css/tablerocss.css") }}>
	<link rel="stylesheet" href={{ asset ("bundles/css/animations.css") }}>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ asset('bundles/css/materialize.css') }}" rel="stylesheet" media="screen,projection">
	<link rel="shortcut icon" href="{{ asset('bundles/favicon.ico') }}" type="image/x-icon">
   <link rel="icon" href="{{ asset('bundles/favicon.ico') }}" type="image/x-icon">
</head>
<body>

<div class="body-content">
	<div id="tauler">
		<div id="c1" class="rotateC1"></div>
		<div id="c2" class="rotateC2"></div>
		<div id="c3" class="rotateC3"></div>
		<div id="c4" class="rotateC4"></div>
		<div id="c5" class="rotateC5"></div>
		<div id="c6" class="rotateC6"></div>
		<button id="btnCentral" class="btnCentral"></button>
	</div>
	
	<div id="jugadors" class="jugadors">
	
		<div class="borderj1">
			<canvas id="j1" class="j1"></canvas>
		</div>

		<div class="borderj2">
			<canvas id="j2" class="j2"></canvas>
		</div>
		
		<div class="borderj3">
			<canvas id="j3" class="j3"></canvas>
		</div>
		
		<div class="borderj4">
			<canvas id="j4" class="j4"></canvas>
		</div>

		<div class="borderj5">
			<canvas id="j5" class="j5"></canvas>
		</div>
		
		<div class="borderj6">
			<canvas id="j6" class="j6"></canvas>
		</div>
		
	</div>
	
	<div id="fitxa1" class="fitxa active">
		<img src={{ asset ("bundles/img/fitxes/j1.png") }} class="fitxaStyle">
	</div>
	
	<span>
		<input type="number" min="1" max="6" value="6" onchange="inciaTorn()">
	</span>
	
	<a id="btnTiraDau" onclick="tiraDau()" class="waves-effect waves-teal waves-light btn">Dau</a>
	
	<a id="btnIniciaRonda" onclick="inciaTorn()" class="waves-effect waves-teal waves-light btn">incia Torn</a>
		
	<a href="/panell" class="waves-effect waves-teal waves-light btn">Panel</a>
	

</div> <!-- end boy-content -->

</body>
</html>
