.fitxa.active{
	border: 2px solid transparent;
	-webkit-animation-name: animateZoom;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-name: animateZoom;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  animation-name: animateZoom;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 2;
}

.clickable{
	cursor: pointer;
}

.no-clickable{
	opacity: 0.5 !important;
	cursor: auto;	
}

/* animateZoom */
@keyframes animateZoom {
	from {
		opacity: 1;
		border: 2px solid transparent;
	}
	to {
		opacity: 0.5;
		border: 2px double red;
		border-radius: 20px;
	}
}
@-moz-keyframes animateZoom {
	from {
		opacity: 1;
		border: 2px solid transparent;
	}
	to {
		opacity: 0.5;
		border: 2px double red;
		border-radius: 20px;
	}
}
@-webkit-keyframes animateZoom {
	from {
		opacity: 1;
		border: 2px solid transparent;
	}
	to {
		opacity: 0.5;
		border: 2px double red;
		border-radius: 20px;
	}
}

