/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.login-content{
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
}
.body-content{
	width: 100%;
	min-height: 100vh;
	padding-top: 57px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url(../img/trivial-bg.jpg) center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.highlogin{
    width: 120px;
    border-radius: 200px;
    margin: 20px;
    padding: 181px;
}
.highlogin img{
    left: -127px;
    top: -128px;
}

nav img{
	padding-top: 15px;
	position: relative;
}
.extra-padding{
	padding: 10px !important;
}

.extra-width{
	width: 100%;
}

/* GENERIC MODAL FOR BIO-DISCO-PHOTO */
.my-modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    overflow: hidden;
}

.my-modal.active{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  -webkit-animation-name: animateModalBG;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateModalBG;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: ease;
  animation-name: animateModalBG;
  animation-duration: 500ms;
  animation-timing-function: ease;
  overflow-x: hidden;
    z-index: 9999;
}
.my-modal.closing{
  -webkit-animation-name: animateZoomOut;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: animateZoomOut;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  animation-name: animateZoomOut;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.games-list{
	background-color: rgba(0,0,0,0.2);
	border-radius: 20px;
	text-align: center;
	padding-bottom: 10px;
}
.games-list h1,
.games-list h2,
.games-list h3,
.games-list h4,
.games-list h5,
.games-list h6{
	font-size: 5em;
	
}

table{
	display: block;
	background-color: white;
	max-width: 712px;
	min-width: 660px;
	height: 300px;
	max-height: 300px;
	min-height: 300px;
	overflow-y: scroll;
}
td{
   min-width: 55px;
}
form{
    cursor: pointer;
}
input{
	text-align: center;
	color: white;
}

.returnbtn{
	 display: none;
    bottom: 75px;
    position: absolute;
}
.startgame{
	display: block;
   bottom: 55px;
   position: absolute;
}

.message{
	display: block;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
   top: 75px;
   position: absolute;
}

/* animateModalBG */
@-moz-keyframes animateModalBG {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes animateModalBG {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes animateModalBG {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* ens of animateModalBG */