body,html{
	margin: 0;
	padding: 0;
	background-color: #327183;
}

button{
	border-radius: 10px;
	outline: none;
}

input{
	width: 50px !important;
}

#tauler{
	width: 500px;
	height: 500px;
}
#c1, #c2, #c3, #c4, #c5, #c6{
	position: absolute;
	width: 50px;
	height: 155px;
	left: 225px;
	top: 50px;
	transform-origin: 50% 128%;
}

.rotateC1 {transform: rotate(30deg);}
.rotateC2 {transform: rotate(90deg);}
.rotateC3 {transform: rotate(150deg);}
.rotateC4 {transform: rotate(210deg);}
.rotateC5 {transform: rotate(270deg);}
.rotateC6 {transform: rotate(330deg);}

.colClass{
}

.btnClass{
	width: 100%;
	height: 100%;
	border: 3px double rgb(246, 224, 215);
}

.btnExtClass{
    transform-origin: 248px 25px;
	 border: 3px double rgb(246, 224, 215);
    position: absolute;
    width: 48px;
    height: 30px;
    top: 225px;
    left: 2px;
}

.jugadors{
	position: absolute;
	left: 500px;
	top: 0;
}

.j1,.j2,.j3,.j4,.j5,.j6{width: 200px;}
.fitxa{
	position: absolute;
	z-index: 1;
	width: 20px;
	height: 20px;
}

#fitxa1{
	top: 220px;
	left: 220px;
}

.fitxaStyle{
	width: 20px;
	height: 20px;
}

.btnCentral{
    position: absolute;
    left: 208px;
    top: 205px;
    width: 84px;
    height: 87px;
    border-radius: 50px;
    border: 3px double rgb(246, 224, 215);
    background: url(../img/trivial_logo_center_150x150.png) center;
}
